.admin-login {
    height: calc(100vh - 60px);
    /* navbar height */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f9f5ef, #ffe4b5);
}

.login-card {
    width: 380px;
    padding: 35px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    
}

.login-card h2 {
    text-align: center;
    color: #8b0000;
    margin-bottom: 25px;
    font-size: 28px;
}

.login-card form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.login-card label {
    font-weight: 600;
    color: #444;
    font-size: 14px;
}

.login-card input {
    width: 300px;
    padding: 12px 14px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: 0.3s ease;
}

.login-card input:focus {
    border-color: #8b0000;
    box-shadow: 0 0 5px rgba(139, 0, 0, 0.4);
}

.login-card button {
    width: 150px;
    margin-top: 10px;
    padding: 12px;
    background-color: #8b0000;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-card button:hover {
    background-color: #b22222;
    transform: scale(1.04);
}