.auth-page {
    height: calc(100vh - 60px);

    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f9f5ef, #ffe4b5);
}

.auth-card {
    text-align: center;
    align-items: center;
    margin-top: 50px;
    width: 420px;
    background: #fff;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.25);
}

.auth-card h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #8b0000;
    font-size: 28px;
}

.auth-card form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.auth-card label {
    font-weight: 600;
    color: #444;
    font-size: 14px;
}

.auth-card input {
    width: 300px;
    padding: 12px 14px;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.3s ease;
}

.auth-card input:focus {
    border-color: #8b0000;
    box-shadow: 0 0 6px rgba(139, 0, 0, 0.4);
}

.auth-card button {
    width: 150px;
    margin-top: 10px;
    padding: 12px;
    background-color: #8b0000;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.auth-card button:hover {
    background-color: #b22222;
    transform: scale(1.04);
}
.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field input {
  /* width: 100%; */
  /* padding-right: 40px; */
}

.eye {
  position: absolute;
  right: 100px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  color: #8b0000;
}
